<mat-dialog-content id="layoutDiv" fxLayout="column" fxLayoutGap="0.5%" fxLayoutAlign="space-between" 
    class="mat-elevation-z888">

<mat-toolbar>
  <span class="page-header">
    {{myMode == MyUpdateMode.Update?"Modify Saison":"New Saison"}}
  </span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>

<form [formGroup]="myForm" class="normal-form" (submit)="onSubmit()">
  <div fxLayout="column" fxLayoutAlign="space-between stretch">
    <div *ngIf="myMode == MyUpdateMode.Update" 
        fxLayout="row" fxLayoutAlign="start" style="margin-bottom: 5px;">ID:
      <input fxFlex.gt-xs="1 1 400px" fxFlex="1 1 90%" formControlName="id" 
        style="margin-left: 10px;">
    </div>
    <mat-form-field>
      <input formControlName="name" matInput placeholder="Name*">
      <mat-error>This field is mandatory!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" color="gray" style="width: 150px;">
      <mat-label>From:</mat-label>
      <input matInput
        [matDatepicker]="picker1"
        formControlName="dayFrom"
        placeholder="Enter a start day" />
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
      <mat-error *ngIf="myForm.controls.dayFrom.hasError('required')">
        Start Day is required!
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" color="gray" style="width: 150px;">
      <mat-label>To:</mat-label>
      <input matInput
        [matDatepicker]="picker2"
        formControlName="dayTo"
        placeholder="Enter an end day" />
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
      <mat-error *ngIf="myForm.controls.dayTo.hasError('required')">
        End Day is required!
      </mat-error>
    </mat-form-field>

    <div fxLayout="row wrap" fxLayoutAlign="start center">
      <button mat-raised-button color="primary" type="submit"
        [disabled]="myForm.invalid"
        style="margin: 5px;">Submit</button>
      <button mat-raised-button color="warn"
        (click)="onClearForm()"
        style="margin: 5px;"
        *ngIf="myMode == MyUpdateMode.Insert">Clear</button>
    </div>
  </div>
</form>

</mat-dialog-content>
