@import './src/app-theme.scss';

.main-menu {
  height: 50px;
  background-color: mat-color($app-primary);
}

.app-title {
  margin-top: 5px;
  color: mat-color($app-accent);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px 5px;
}

.app-menu-button {
  margin: 0px 10px;
  padding: 0px;
  font-weight: bold;
  color: mat-color($app-accent);
  background-color: mat-color($app-primary, 400);
  display: block;
}
