<div class="main-menu" fxLayout="row" fxLayoutAlign="space-around center">
  <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="space-around center">
    <button fxHide.gt-xs="TRUE" mat-icon-button [matMenuTriggerFor]="admin_menu">
      <mat-icon color="accent">view_headline</mat-icon>
    </button>
    <div fxFlex="170px" class="app-title">{{ mySettings.sportName }}</div>
    <button fxHide.lt-sm="TRUE" fxFlex="100px" class="app-menu-button" mat-button 
        color="primary" routerLink="playday-table">
      <span>Playdays</span>
    </button>
    <div fxFlex="*"> </div>
    <button fxHide.lt-sm="TRUE" fxFlex="100px" class="app-menu-button" mat-button 
        color="primary" [matMenuTriggerFor]="admin_menu">
      <span>Admin</span>
    </button>
  </div>

  <mat-menu #admin_menu="matMenu" xPosition="before">
    <button mat-menu-item [matMenuTriggerFor]="preferences_menu">
      <span>Preferences</span>
    </button>

    <button fxHide.gt-xs="TRUE" mat-menu-item routerLink="playday-table">
      <span>Playdays</span>
    </button>
    <button mat-menu-item routerLink="logout">
      <span>Logout</span>
    </button>
    <button mat-menu-item routerLink="about">
      <span>About</span>
    </button>
  </mat-menu>

  <mat-menu #preferences_menu="matMenu" xPosition="before">
    <button mat-menu-item routerLink="saison-table">
      <span>Saisons</span>
    </button>  
    <button mat-menu-item routerLink="player-table">
      <span>Players</span>
    </button>  
    <button mat-menu-item routerLink="edit-settings">
      <span>Settings</span>
    </button>  
  </mat-menu>
</div>

