<div fxLayout="row" fxLayoutAlign="space-around center" style="padding: 20px">
  <mat-card class="about-card" class="mat-elevation-z9">
    <mat-card-header>
      <div mat-card-avatar class="about-header-image"></div>
      <mat-card-title>Sports List Application</mat-card-title>
      <mat-card-subtitle>Track and bill your sport appointments</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/sports-list-logo.png" alt="Application Logo">
    <mat-card-content class="about-card-content">
      <p>Angular Demo Application.</p>
      <p>Created by Frank Augustin</p>
      <p>2019</p>
    </mat-card-content>
  </mat-card>
</div>
