h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.edit-playground-card {
  background-color: #f0f0f0;
  max-width: 800px;
  margin: 15px;
  border-radius: 20px;
}

.mat-error {
  border: 2px solid Tomato;
}