<div class="row">
  <div class="col-md-5">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <mat-grid-list cols="2" gutterSize="10" rowHeight="4:1">
        <mat-grid-tile colspan="2">
          <mat-form-field appearance="outline" color="gray">
            <input id="dayInput"
              matInput
              [matDatepicker]="picker"
              formControlName="dayControl"
              placeholder="Enter a day" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="myForm.controls.dayControl.hasError('required')">
              Day is required!
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>
        
        <mat-grid-tile *ngFor="let allPl of allPlayers; let i=index;">
          <mat-form-field>
            <mat-label>Player {{ allPl.id }}</mat-label>
            <mat-select [formControlName]="'playerControl' + (i+1)">
              <mat-option *ngFor="let chPl of choosablePlayers" [value]="chPl.id">
                {{chPl.display}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="allPlayers != null && allPlayers.length % 2 == 0 ? 2 : 1">
          <mat-error *ngIf="myForm.errors && myForm.errors.equalPlayers">
            Error: Please choose different players!
          </mat-error>      
        </mat-grid-tile>

        <mat-grid-tile colspan="2">
          <mat-checkbox id="idIsCancelled" formControlName="isCancelled">Cancelled?</mat-checkbox>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
          <mat-form-field>
            <input matInput id="idNumOfHours" type="number" formControlName="numOfHours"/>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" *ngIf="myForm.errors && myForm.errors.invalidCancelledButHoursGreaterZero">
          <mat-error>
            Error: Day is cancelled but number of hours is > 0!
          </mat-error>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" *ngIf="myForm.errors && myForm.errors.invalidNotCancelledButHoursZero">
          <mat-error>
            Error: Day is not cancelled but number of hours is &lt;= 0!
          </mat-error>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
          <mat-form-field>
            <input matInput id="idNumOfCourts" type="number" formControlName="numOfCourts"/>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" *ngIf="myForm.errors && myForm.errors.invalidCancelledButCourtsGreaterZero">
          <mat-error>
            Error: Day is cancelled but number of courts is > 0!
          </mat-error>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" *ngIf="myForm.errors && myForm.errors.invalidNotCancelledButCourtsZero">
          <mat-error>
            Error: Day is not cancelled but number of courts is &lt;= 0!
          </mat-error>
        </mat-grid-tile>
      
        <mat-grid-tile colspan="2">
          <button mat-button type="submit" style="width: 80%;"
            class="mat-raised-button mat-primary" 
            [disabled]="!myForm.valid">Save</button>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </div>
</div>