<mat-dialog-content id="layoutDiv" 
    fxLayout="column" fxLayoutGap="0.5%" fxLayoutAlign="space-between" 
    class="edit-dialog-content mat-elevation-z888">

  <mat-toolbar>
    <span class="page-header">
      {{ getHeader() }}
    </span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-toolbar>
  
  <form [formGroup]="myForm" class="normal-form"
      (ngSubmit)="onSubmit()">
    <div fxLayout="column" fxLayoutAlign="space-between stretch">    

      <div fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="space-between center">
        <div fxFlex="1 1 auto">
          <mat-form-field appearance="outline" color="gray" style="width: 150px;">
            <input id="dayInput"
              matInput
              [matDatepicker]="picker"
              formControlName="day"
              placeholder="Enter a day" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="myValidationErrors.day">
              {{ myValidationErrors.day }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div fxFlex="1 1 auto">
        <div *ngIf="playday != null"
            fxLayout="row wrap" fxLayoutGap="0px" fxLayoutAlign="space-around center">
          <div fxFlex="0 1 calc(33.3% - 0px)" 
              formArrayName="players"
              *ngFor="let allPl of myAllPlayers; let i=index;">
            <mat-form-field>
              <mat-label>Player {{ i+1 }}</mat-label>
              <mat-select [formControlName]="i">
                <mat-option *ngFor="let chPl of myChoosablePlayers" [value]="chPl.id">
                  {{chPl.display}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>          
          <div *ngIf="myAllPlayers != null && myAllPlayers.length % 2 == 1"
              fxFlex="0 1 calc(33.3% - 0px)" style="height: 1px">
            <div class="mat-form-field-wrapper">
              <div class="mat-form-field-infix"></div>
            </div>
          </div>
        </div>
      </div> 

      <div fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="center center" >
        <mat-error *ngIf="myForm.errors && myForm.errors.equalPlayers"
            appearance="outline">
          Error: Please choose different players!
        </mat-error>      
      </div>

      <div fxLayout="column" fxLayoutAlign="space-around center">
        <div fxFlex="0 1 calc(30%-30px)" fxFlexOffset="30px" 
            style="margin-top: 20px; margin-bottom: 20px;">
          <mat-checkbox id="idIsCancelled" #eleIdIsCancelled 
            (click)="onCancelClicked(eleIdIsCancelled)" 
            formControlName="isCancelled">Cancelled?</mat-checkbox>
        </div>
      </div>

      <div fxFlex="100%" fxLayout="row wrap" fxLayoutAlign="space-around center">
        <div fxFlex="0 1 calc(50%-45px)" fxFlexOffset="30px">
          <label for="idNumOfHours" style="margin-right: 15px;"># Hours:</label>
          <mat-form-field>
            <input matInput id="idNumOfHours" type="number" formControlName="numOfHours"/>
          </mat-form-field>
        </div>
        <div fxFlex="0 1 calc(50%-45px)" fxFlexOffset="30px">
          <label for="idNumOfCourts" style="margin-right: 15px;"># Courts:</label>
          <mat-form-field>
            <input matInput id="idNumOfCourts" type="number" formControlName="numOfCourts"/>
          </mat-form-field>
        </div>
      </div>

      <div fxFlex="1 1 auto" fxLayout="row wrap" fxLayoutAlign="space-around center">
        <mat-form-field fxFlex="90%">
          <input matInput formControlName="remark" placeholder="Remark">
        </mat-form-field>
      </div>

      <div fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="space-between center">
        <div fxFlex="1 1 auto" *ngIf="myForm.errors && myForm.errors.invalidCancelledButHoursGreaterZero">
          <mat-error appearance="outline">
            Error: Day is cancelled but number of hours is > 0!
          </mat-error>
        </div>
        <div fxFlex="1 1 auto" *ngIf="myForm.errors && myForm.errors.invalidNotCancelledButHoursZero">
          <mat-error appearance="outline">
            Error: Day is not cancelled but number of hours is &lt;= 0!
          </mat-error>
        </div>
        <div fxFlex="1 1 auto" *ngIf="myForm.errors && myForm.errors.invalidCancelledButCourtsGreaterZero">
          <mat-error appearance="outline">
            Error: Day is cancelled but number of courts is > 0!
          </mat-error>
        </div>
        <div fxFlex="1 1 auto" *ngIf="myForm.errors && myForm.errors.invalidNotCancelledButCourtsZero">
          <mat-error appearance="outline">
            Error: Day is not cancelled but number of courts is &lt;= 0!
          </mat-error>
        </div>
      </div>

      <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="start center">
        <button mat-button style="margin-right: 5px;"
          (click)="onAddExtraPay()"
          class="mat-raised-button mat-primary">Add Extra Pay</button>
      </div>

      <div formArrayName="extraPays" *ngFor="let extraPay of myForm.get('extraPays').controls; let i=index">
        <div [formGroupName]="i">
          <mat-form-field fxFlex="30%">
            <mat-label>Purpose</mat-label>
            <mat-select formControlName="extraPayKindId">
              <mat-option *ngFor="let extraPayKind of myExtraPayKinds" [value]="extraPayKind.id">
                {{extraPayKind.purpose}}
              </mat-option>
            </mat-select>
            <mat-error appearance="outline" *ngIf="myValidationErrors.extraPayKindId">
              {{ myValidationErrors.extraPayKindId }}
            </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="30%">
            <mat-label>Player</mat-label>
            <mat-select formControlName="playerId">
              <mat-option *ngFor="let chPl of myChoosablePlayers" [value]="chPl.id">
                {{chPl.display}}
              </mat-option>
            </mat-select>
            <mat-error appearance="outline" *ngIf="myValidationErrors.playerId">
              {{ myValidationErrors.playerId }}
            </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="30%">
            <input matInput formControlName="amount" placeholder="Amount">
            <mat-error appearance="outline" *ngIf="myValidationErrors.amount">
              {{ myValidationErrors.amount }}
            </mat-error>
          </mat-form-field>
          <button fxFlex="10%" mat-icon-button color="warn" (click)="onRemoveExtraPay(i)">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </div>
      </div>

      <div fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="space-between center">
        <button mat-button type="submit" style="width: 30%;"
          class="mat-raised-button mat-primary" 
          [disabled]="!myForm.valid">Save</button>
      </div>

    </div>
  </form>

</mat-dialog-content>
