<div id="layoutDiv" fxLayout="column" fxLayoutGap="0.5%" fxLayoutAlign="space-between" 
    class="mat-elevation-z888">
  <div id="headerLayoutDiv" fxLayout="column" fxLayoutAlign="space-between center">
    <div @slideIn fxFlex="1 0 30%" class="page-header margin-top-10px">Playday Overview</div>
  </div>
  <mat-table fxFlex="1 0 100%" mat-table class="full-width-table" 
      [dataSource]="dataSource" 
      matSort aria-label="Elements">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="day">
      <mat-header-cell *matHeaderCellDef mat-sort-header id="dayHeader" class="xyz">Day</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <a  [routerLink]="['/playdays',row.id]">{{row.dayAsDate | date:'yyyy-MM-dd' }}</a>
      </mat-cell>
    </ng-container>

    <ng-container *ngFor="let player of players; let i=index;" 
        matColumnDef="p{{i}}"
        class="player-header">
      <mat-header-cell 
        *matHeaderCellDef 
        mat-sort-header>
        {{ player.shortAlias }}
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <div fxLayout="row" fxLayoutAlign="center center">
          <mat-checkbox 
            [checked]="row.hasPlayerPlayed(player) ? 'X' : null"
            class="player">
          </mat-checkbox>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
      [length]="dataSource == null ? 0 : dataSource.playdays == null ? 0 : dataSource.playdays.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
