/* You can add global styles to this file, and also import other style files */
//@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
//@import '@angular/material/prebuilt-themes/indigo-pink.css';
//@import '@angular/material/prebuilt-themes/pink-bluegrey.css';
//@import '@angular/material/prebuilt-themes/purple-green.css';

@import "./src/app-theme.scss";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

.page-header {
  border-bottom: solid; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.padding-0px .mat-dialog-container {
  padding: 0px;
}

.margin-0px {
  margin: 0px;
}

.margin-top-10px {
  margin-top: 10px;
}

.app-button {
  font-weight: bold;
  color: mat-color($app-accent);
  background-color: mat-color($app-primary, 400);
  display: block;
}

snack-bar-container.success {
  background-color: green;
  color: #fff;
}

snack-bar-container.warn {
  background-color: mat-color($app-warn);
  color : #fff;
}

snack-bar-container.notification simple-snack-bar {
  font-size: 18px !important;
  font-weight: bold;
}

form.normal-form {
  margin: 10px;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.hide {
  display: none;
}

.btn-dialog-close {
 transform: scaleX(0.6) scaleY(0.8);
}

.edit-dialog-content {
  margin: 0px !important;
  padding: 0px !important;
}

.edit-dialog-container .mat-dialog-container {
  padding: 5px;
}
